<div class="news-container tab-group-div">
    <mat-tab-group class="tab-group" color="primary">
        <mat-tab label="General"><app-news-container category="General News"></app-news-container> </mat-tab>
        <mat-tab label="Business"><app-news-container category="Business News"></app-news-container> </mat-tab>
        <mat-tab label="Sports"><app-news-container category="Sports News"></app-news-container> </mat-tab>
        <mat-tab label="Politics"><app-news-container category="Political News"></app-news-container> </mat-tab>
        <mat-tab label="Market"><app-news-container category="Stock Market News"></app-news-container> </mat-tab>
        <mat-tab label="Technology"><app-news-container category="Technological News"></app-news-container> </mat-tab>
    </mat-tab-group>
</div>
  