<div class="new-item-container">
    <mat-card>
        <img src={{imageUrl}}>

        <mat-card-title style="margin-top: 1em">
            <a href={{newsUrl}} target="_blank" title="Click to read this news in detail">
                {{newsTitle}}
            </a>
        </mat-card-title>
        
        <mat-card-subtitle>
            Source : {{newsAuthor}}
        </mat-card-subtitle>
        
        <mat-card-content>
            {{newsDescription}}
        </mat-card-content>
    </mat-card>
</div>
