.news-img-dark { 
    width: 18rem;
    height: 12rem;
    border-color: white ;
    border-style: solid;
}

.news-img-light { 
    width: 18rem;
    height: 12rem;
}

.new-item-container {
    width: 20rem;
    display: flex;
    margin: 2rem;
}

.news-item-light {
    background-color: rgb(238, 234, 234);
    justify-content: space-evenly;
    color: rgb(49, 42, 42);
}

.news-item-dark {
    background-color: rgb(61, 53, 53);
    color: rgb(255, 255, 255);
}

.news-sub-dark {
    color: white;
}

.news-sub-light {
    color: black;
}
