.news-list {
    display: flex;
    flex-direction: row;
    justify-content:center;
    /* margin-bottom: 6rem; */
    /* background-color: bisque; */
}

.news-container {
    /* background-color: bisque; */
    margin-bottom: 4rem;
}

.load-more-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}