.news-container-light {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.news-container-dark {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #535353;
}